virtualenv
Sphinx==1.2.3
sphinx-rtd-theme
alabaster!=0.7.5
setuptools
pillow
readthedocs-sphinx-ext
recommonmark
babel
six
https://github.com/zeromq/pyre/archive/master.zip
https://github.com/z25/pyZOCP/archive/master.zip
